<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% load i18n %}
<div>
    <strong>{% trans 'Menu:' %}</strong>
    <ul>
        {{ user }}
        {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">{% trans 'Change E-mail' %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">{% trans 'Sign In' %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a></li>
        {% endif %}
    </ul>
</div>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="publicar">
</form>
</body>
</html>